

{{#each teams}}
<br>
<div><b>{{title}}</b></div>
<table class='scorePV'><tbody>
    <tr><th></th><th>scores</th><th>mean</th></tr>
    <tr><td>PV1</td><td>{{pv1.l}}</td><td class='centered'>{{pv1.m}}</td></tr>
    <tr><td>PV2</td><td>{{pv2.l}}</td><td class='centered'>{{pv2.m}}</td></tr>
</tbody></table>
{{/each}}
